[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-RESTful = "*"
sparkfun-qwiic-scmd = "*"
Flask-Cors = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.8"
